$theme-font: 'Hind', sans-serif;
$background-header: url("../img/0.jpg");
$colors: (
    "color-default": #fff,
    "nav-color": #c1d1df,
    "cards-text": #3979b7,
    "dark-violet": #896976,
    "violet": #cba2b0,
    "bg-tour": #8695a2,
    "tour-tittle": #c1d1db,
    "tour-form": #5e6872,
    "bg-footer": #3d5585,
    "footer-color": #0a275e,
    "footer-text":#659aeb   
);