$theme-font: 'Fresca', sans-serif;
$background-header: url("../img/4.jpg");
$colors: (
    "color-default": #fff,
    "nav-color": #5b2846,
    "cards-text": #69395e,
    "dark-violet": #8a6f8d,
    "violet": #caa2cb,
    "bg-tour": #9f86a2,
    "tour-tittle": #56426a,
    "tour-form": #56426a,
    "bg-footer": #5d3d85 ,
    "footer-color": #4f0a5e ,
    "footer-text":#b263f8     
);